:root {
  --color-dark: rgba(28, 13, 13, 1);
  --color-white: rgb(255, 255, 255);
  --color-hover: yellow;
  --color-hover-2: rgb(142, 239, 179);
  --color-blue: rgba(17, 135, 238, 0.735);
  --color-blue-fiable: rgba(17, 135, 238, 0.27);
}

body {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-size: 17px;
  height: 50000px;
}

.main-btn {
  background-color: var(--color-hover);
  padding: 5px 17px;
}
.main-btn:hover {
  background-color: var(--color-hover-2);
  color: var(--color-blue);
}

.line-border {
  height: 3px;
  background-color: var(--color-hover);
  width: 300px;
}

.separator {
  position: relative;
}

.separator:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 2;

  background-image: linear-gradient(
      -15deg,
      var(--color-blue) 25%,
      transparent 25%
    ),
    linear-gradient(-270deg, var(--color-hover-2) 25%, transparent 25%);
  background-size: 30px 80px;
}

/* Start  Nav Bar  */
.navbar,
.my_nav {
  background-color: var(--color-dark);
  height: 75px;
  /* padding-top: 0 !important; */
  li a {
    color: var(--color-white);
  }
  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    /* color:var(    --color-bluer) !important; */
    text-shadow: var(--color-white) 0px 0px 1px;
    border-bottom: 2px solid var(--color-hover) !important;
  }
}
.my_nav .logo img {
  /* height: 75px;     */
  padding: 0 !important;
  margin: 0 !important;
}

.my_nav .navbar-collapse {
  /* nav link */
  background-color: var(--color-dark);
}
.my_nav .navbar-toggler {
  color: var(--color-blue);
  svg {
    color: var(--color-white) !important;
  }
}

.my_nav .navbar-toggler:hover,
.my_nav .navbar-toggler:active,
.my_nav .navbar-toggler:focus {
  border: none !important;
  outline: 1px solid var(--color-blue) !important;
  box-shadow: none;
  svg {
    color: var(--color-blue) !important;
  }
}

.my_nav svg {
  color: var(--color-white);
  font-size: 35px;
}
.navbar .serche {
  border-left: 2px solid var(--color-white);
}
.navbar .serche svg {
  color: var(--color-hover);
  font-size: 30px;
  padding: 0;
  margin: 0;
}

/* End  Nav Bar  */
/* Start  Landing */
.landing {
  /* background-color: var(--color-blue); */
  background-image: linear-gradient(
    145deg,
    var(--color-dark),
    var(--color-blue)
  );

  background-image: linear-gradient(
    180deg,
    var(--color-dark) 50%,
    var(--color-blue)
  );

  height: calc(100vh - 75px);
}
/* End  Landing */
/* Strat  Feautures */
.Feautures {
  background-color: var(--color-blue);
}
.my-txt .img-section {
  height: 60px;
  margin: 20px;
  color: var(--color-hover) !important;
}
.Feautures .img-section {
  height: 60px;
  margin: 20px;
  color: var(--color-hover) !important;
}

.my-card {
  position: relative;
}

.number {
  z-index: -1;
  font-size: 160px;
  color: var(--color-blue-fiable);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

@media (max-width: 774px) {
  .number {
    font-size: 120px;
  }
}

.img-svg {
  font-size: 40px;
  color: var(--color-hover);
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

/* End  Feautures */
/* Start  our-work */
.our-work {
  background-image: linear-gradient(
    180deg,
    var(--color-blue) 90%,
    var(--color-dark)
  );
}

.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.our-work ul li:hover:not(.active) {
  color: var(--color-hover);
}

.our-work .active {
  background-color: var(--color-hover);
  border-radius: 10px;
}
.our-work .box-img {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.our-work .box-img::before {
  content: attr(data-work);
  font-size: 22px;
  font-weight: bold;
  color: var(--color-hover-2);
  text-shadow: 0 0 5px black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:rgba(172, 255, 47, 0.401) ;  */
  background-image: linear-gradient(
    45deg,
    var(--color-blue) 10%,
    var(--color-dark) 60%,
    var(--color-blue)
  );

  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transition: 0.3s;
  transform: translateX(calc(-100% - 10px)) rotate(-180deg);
}

.our-work .box-img:hover:before {
  transform: translateX(0);
}

/* End  our-work */
/* Start Stuff   */
.Stuff {
  background-image: linear-gradient(
    180deg,
    var(--color-dark),
    var(--color-blue) 15%,
    var(--color-blue)
  );
}
.Stuff .descriptin {
  max-width: 400px;
}

/* End Stuff   */
/* Strat Team   */

.team {
  background-image: linear-gradient(
    180deg,
    var(--color-hover),
    var(--color-blue) 15%,
    var(--color-blue)
  );
}
.team .titre-team {
  color: var(--color-white);
}

.team .titre-team h3 {
  background-image: linear-gradient(
    180deg,
    var(--color-hover),
    var(--color-blue) 15%,
    var(--color-blue)
  );

  color: var(--color-hover);
  transition: all 1s ease;
}

.team .titre-team .box:hover h3 {
  background-image: none;
  background-color: var(--color-hover);
  color: var(--color-blue);
}

.team .box {
  background-color: var(--color-dark);
}
 
.team .box img {
  transition: all 1s ease; 
}

.team .box img:hover { 
  filter: contrast(1.5);
}

/* End Team   */
/* Strat Tech   */
.tech { 
background-color: rgba(0, 0, 0, 0.52);
}
/* End Tech   */
/* Strat Subscip   */
.subscrib {
  background-color: var(--color-blue-fiable);
  }
  .subscrib  input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-dark);
  } 
.subscrib  input[type="text"]:hover,  
  .subscrib  input[type="text"]:focus  { 
    outline: none;
    border-bottom-color: var(--color-hover);
}
.subscrib  input[type="text"]::placeholder { 
  color: var(--color-hover);
}
@media (max-width:576px) { 
.subscrib  button[type="submit"]   {  
  margin-top: 15px !important; 
}
 
}

/* End Subscip   */

/* MILOU MED */
